<div class="col-lg-12">
    <div class="row">
        <div class="col-md-1">
            <div style="font-size: 50px">
                <img class="calender-img" src="{{data.appointmentAreaDetails.image}}" alt="">
            </div>
        </div>
        <div class="col-md-10">
            <h2 style="margin-top: 12px; margin-bottom: 0px;  color: #6b5e51;"><span style="color: #857363;">You selected</span> <b>{{data.appointmentAreaDetails.name}}</b></h2>
            <h4 style="color: #857363;">Our specialists are ready to help at your convenience.</h4></div>
    </div>
    <h3 style="color: #857363;padding-left: 8px;">Choose the topics you'd like to discuss:</h3>
    </h2>
    <div class="row">
        <div class="box col-md-12">
            <div class="box-content">
                <div class="row">
                    <div class="col-md-4" ng-repeat="area in data.appointmentAreaDetails.details">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input icheck type="checkbox" ng-model="main.check4"> {{area.name}} </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="form-inline" role="form" style="padding-left: 0.5%">
        <div class="form-group">
            <label class="col-sm-9 control-label" style="padding-top: 2%; padding-right: 0px;">I'd prefer to have my appointment in</label>
            <div class="col-sm-3">
                <select class="form-control m-b" ng-model="area.language" data-rel="chosen" ng-options="language.id as language.name for language in data.languages" style="margin-left: -20px;"/>
            </div>
        </div>
    </div>
</div>
