<div class="animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div id="content" class="col-lg-12 col-sm-15">
                                    <div class="row">
                                        <div class="box col-md-12">
                                            <div class="box-inner">
                                                <div class="box-content row" ui-view>
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <div style="font-size: 50px">
                                                                    <img class="calender-img" src="assets/img/appointmentCal.png" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-10">
                                                                <h2 style="margin-top: 12px; margin-bottom: 0px;  color: #6b5e51;">We know your time is valuable.</h2>
                                                                <h4 style="color: #857363;">Our specialists are ready to help at your convenience.</h4></div>
                                                        </div>
                                                        <h3 style="color: #857363;padding-left: 8px;">What would you like to meet with us about?</h3>
                                                        </h2>
                                                        <div class="row">
                                                            <div class="box col-md-3" ng-repeat="appointmentArea in appointmentAreas">
                                                                <a class="box-inner appointmentPanel" ng-click="selectAppointmentTopics(appointmentArea.areaId)" style="color:#333333">
                                                                    <div class="panel panel-default appointmentPanel">
                                                                        <div class="panel-heading appointments-box">
                                                                            <h2 style="font-size: 120%;"><b>{{appointmentArea.name}}<img class="calender-img" src="{{appointmentArea.image}}" alt=""> </b></h2>
                                                                        </div>
                                                                        <div class="panel-body appointments-box">
                                                                            <div class="investment-link">
                                                                                <p>{{appointmentArea.description}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
