<style>
.incomming > video {
    width: 100% !important;
    height: 323px !important;
}

.outgoing > video {
    width: 100% !important;
    height: 100% !important;
}

button:focus {
    outline: 0 !important;
}

.loadinggif 
{
   background:
     url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')
     no-repeat
     right 5px center;
}
</style>
<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="col-lg-10">
        <h2>Live Room</h2>
        <ol class="breadcrumb">
            <li>
                Appointments
            </li>
            <li>
                <a href="#/viewAppointment">View Appointments</a>
            </li>
            <li class="active">
                <strong>Live Room</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="darkLayer" class="darkClass" ng-show="liveRoomLoader"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center">
                    <h2>
                        <button ng-show="callButtonShow" class="btn btn-primary dim btn-medium-dim" type="button" ng-click="startCall()">
                            <i class="fa fa-video-camera"></i> Make Call
                        </button>
                        <button ng-show="endButtonShow" class="btn btn-danger dim btn-medium-dim" type="button" ng-click="endCall()">
                            <i class="fa fa-video-camera"></i> End Call
                        </button>
                         <button ng-show="incomingButtonShow" class="btn btn-success dim btn-medium-dim" type="button" ng-click="answerCall()">
                            <i class="fa fa-video-camera"></i> Answer Call
                        </button>
                        <button ng-show="rejectButtonShow" class="btn btn-warning dim btn-medium-dim" type="button" ng-click="rejectCall()">
                            <i class="fa fa-video-camera"></i> Reject Call
                        </button>
                        <button ng-show="holdButtonShow" class="btn btn-warning dim btn-medium-dim" type="button" ng-click="holdCall()">
                            <i class="fa fa-video-camera"></i> Hold Call
                        </button>
                                                <button ng-show="resumeButtonShow" class="btn btn-primary dim btn-medium-dim" type="button" ng-click="resumeCall()">
                            <i class="fa fa-video-camera"></i> Resume Call
                        </button>
                      
  <audio media-player="outgoing" data-playlist="playlist1" loop>
    <source src="https://kandy-portal.s3.amazonaws.com/public/sounds/ringout.ogg" type="audio/ogg">
  </audio>
  <span ng-show="outgoing.playing">Calling...</span>
 
  <span ng-show="incomming.playing">Incomming Call....</span>


    <audio media-player="incomming" data-playlist="playlist2" loop>
    <source src="assets/audio/skype_call_effect.mp3" type="audio/mp3">
  </audio>

                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Bank Agent (Video)</h5>
                </div>
                <div class="ibox-content" style="height:379px">
                    <div class="video incomming" id="incoming-video"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span ng-bind="userSession.name"></span></h5>
                </div>
                <div class="ibox-content" style="height:379px">
                    <tabset justified="true">
                        <tab>
                            <tab-heading>
                                <i class="fa fa-video-camera"></i> Your Video</tab-heading>
                            <div id="video-container" class="small-chat-box ng-small-chat ng-scope" style="right: auto;bottom: auto;height: 293px;width: 482.500px;">
                                <div class="row">
                                    <div class="video outgoing" id="outgoing-video" style="height:290px !important"></div>
                                </div>
                            </div>
                        </tab>
                        <tab ng-click="fileSharingTabWhenSelect()">
                            <tab-heading>
                                <span ng-hide="fileSharingMessageCount===0" class="badge badge-warning pull-right">{{fileSharingMessageCount}}</span>
                                <i class="fa fa-paperclip"></i> File Sharing</tab-heading>
                            <div ng-click="fileSharingTabWhenSelect()" style="position: static;height:auto;width:auto" class="small-chat-box ng-small-chat " ng-show="true">
                                <div class="content" chat-slim-scroll schroll-bottom="allMessages.fileSharingMessages">
                                    <div class="left" ng-class="{'left':allMessage.incoming === true, 'right':allMessage.incoming !== true}" ng-repeat="allMessage in allMessages.fileSharingMessages">
                                        <div class="author-name">
                                            {{allMessage.name}}<small class="chat-date"> {{allMessage.timestamp | date:"h:mm a"}}</small>
                                        </div>
                                        <div class="chat-message">
                                            <a href="javascript:void(0);" ng-click="downloadFile(allMessage.fileName, allMessage.path, allMessage.mimeType)"><i class="fa fa-paperclip"></i> {{allMessage.fileName}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-chat">
                                    <div class="input-group input-group-sm" style="width:100%">
                                        <input type="file" ng-model="text.fileMessage" userfileread id="userFileUploader" class="form-control" style="padding-top: 4px; padding-bottom: 24px;" ng-class="{'loadinggif': sendingFileMessage===true, '': sendingFileMessage!==true}"> <span class="input-group-btn"> <button class="btn btn-primary" ng-click="sendFileAttachment()" ng-disabled="!text.fileMessage" type="button" id="userFileSubmit">Send</button> </span></div>
                                </div>
                            </div>
                        </tab>
                        <tab ng-click="textMessageTabWhenSelect()">
                            <tab-heading>
                                <span ng-hide="textMessageCount===0" class="badge badge-warning pull-right">{{textMessageCount}}</span>
                                <i class="fa fa-wechat"></i> Chat</tab-heading>
                            <div ng-click="textMessageTabWhenSelect()" style="position: static;height:auto;width:auto" class="small-chat-box ng-small-chat" ng-show="true">
                                <div class="content" chat-slim-scroll schroll-bottom="allMessages.chatMessages">
                                    <div class="left" ng-class="{'left':allMessage.incoming === true, 'right':allMessage.incoming !== true}" ng-repeat="allMessage in allMessages.chatMessages">
                                        <div class="author-name">
                                            {{allMessage.name}}<small class="chat-date"> {{allMessage.timestamp | date:"h:mm a"}}</small>
                                        </div>
                                        <div class="chat-message" ng-class="{'active':allMessage.incoming === true, '':allMessage.incoming !== true}">
                                            {{allMessage.message}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-chat">
                                    <div class="input-group input-group-sm" style="width:100%">
                                        <input type="text" ng-model="text.messageText" class="form-control" ng-class="{'loadinggif': sendingTextMessage===true, '': sendingTextMessage!==true}"> <span class="input-group-btn"> <button class="btn btn-primary" ng-click="sendMessage(text)" ng-disabled="!text.messageText" type="button">Send</button> </span></div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
