<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="col-lg-10">
        <h2>View / Edit Employees</h2>
        <ol class="breadcrumb">
            <li>
                Employees
            </li>
            <li class="active">
                <strong>View / Edit Employees</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="darkLayer" class="darkClass" ng-show="employeeViewLoader"></div>
    <div class="row">
        <form role="form" novalidate="novalidate" ng-submit="addEmployees(data)">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table ng-table="employeeTable" class="table table-hover no-margins">
                                            <tr ng-repeat="employee in $data">
                                                <td data-title="'Employee Id'" sortable="'empid'">
                                                    {{employee.empid}}
                                                </td>
                                                <td data-title="'Name'" sortable="'firstname'">
                                                    {{employee.firstname}} {{employee.lastname}}
                                                </td>
                                                <td data-title="'Language Known'">
                                                    <span ng-repeat="language in getJsonObject(employee.languages)">{{language.languageName}}<span ng-show="$index!==getJsonObject(employee.languages).length-1">, </span></span>
                                                </td>
                                                <td data-title="'Area of expertise'">
                                                    <span ng-repeat="areaExpert in getJsonObject(employee.areaExpert)">{{areaExpert.name}}<span ng-show="$index!==getJsonObject(employee.areaExpert).length-1">, </span></span>
                                                </td>
                                                <td data-title="'Mobile'">
                                                    {{employee.mobile}}
                                                </td>
                                                <td data-title="'Action'">
                                                    <center>
                                                        <button class="btn btn-info" style="padding: 2px 6px; margin-bottom: 0px;" type="button" ng-click="editEmployee(employee)">
                                                            <i class="fa fa-edit"></i> Edit
                                                        </button>
                                                        <button class="btn btn-danger" style="padding: 2px 6px; margin-bottom: 0px;" type="button" ng-click="deleteEmployee(employee.id)">
                                                            <i class="fa fa-times"></i> Delete
                                                        </button>
                                                    </center>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
