<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" ng-show="adminShow===true">
        <div class="col-lg-12">
            <div class="text-center">
                <div class="col-lg-12">
                    <div id="darkLayer" class="darkClass" ng-show="dashboardViewScheduledAppointmentLoader"></div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3 class="stat-percen">Top 5 Scheduled Appointments</h3>
                            <!-- This is example of local custom ibox tools -->
                            <div class="ibox-tools">
                                <!--<a ui-sref="lodgement.saved-forms"> <span class="label label-info">more...</span> </a>-->
                            </div>
                        </div>
                        <div class="ibox-content" style="text-align: right;">
                            <div>
                                <table ng-table="dashboardScheduledAppointmentsTable" class="table table-hover no-margins">
                                    <tr ng-repeat="appointment in $data">
                                        <td data-title="'No'">
                                            <center>{{$index+1}}</center>
                                        </td>
                                        <td data-title="'Appointment Date'">
                                            <center>{{appointment.appointmentDate| date:'dd/MM/yyyy'}}</center>
                                        </td>
                                        <td data-title="'Appointment Time'">
                                            <center>{{appointment.appointmentTime}}</center>
                                        </td>
                                        <td data-title="'Date of Booking'">
                                            <center>{{appointment.bookedDate| date:'dd/MM/yyyy'}}</center>
                                        </td>
                                        <td data-title="'Area of Discussion'">
                                            <center>{{appointment.areaName}}</center>
                                        </td>
                                        <td data-title="'Topics'">
                                            <center>{{appointment.topics}}</center>
                                        </td>
                                        <td data-title="'User'">
                                            <center>{{appointment.userName}}</center>
                                        </td>
                                        <td data-title="'Allocated Employee'">
                                            <center>{{appointment.agentName}}</center>
                                        </td>
                                        <td data-title="'Allocated Employee Id'">
                                            <center>{{appointment.agentEmpid}}</center>
                                        </td>
                                        <td data-title="'Language Selected'">
                                            <center>{{appointment.language}}</center>
                                        </td>
                                        <td data-title="'Translation Required'">
                                            <center>{{appointment.transalation==1?'Yes':'No'}}</center>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="staffShow===true">
        <div class="col-lg-12">
            <div class="text-center">
                <div class="col-lg-12">
                    <div id="darkLayer" class="darkClass" ng-show="scheduledAppointmentLoader"></div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3 class="stat-percen">Recent Scheduled Appointments</h3>
                            <!-- This is example of local custom ibox tools -->
                            <div class="ibox-tools">
                                <!--<a ui-sref="lodgement.saved-forms"> <span class="label label-info">more...</span> </a>-->
                            </div>
                        </div>
                        <div class="ibox-content" style="text-align: right;">
                            <div>
                                <table ng-table="scheduledAppointmentsTable" class="table table-hover no-margins">
                                    <tr ng-repeat="appointment in $data">
                                        <td data-title="'No'">
                                            <center>{{$index+1}}</center>
                                        </td>
                                        <td data-title="'User'">
                                            <center>{{appointment.userName}}</center>
                                        </td>
                                        <td data-title="'Appointment Date'">
                                            <center>{{appointment.appointmentDate| date:'dd/MM/yyyy'}}</center>
                                        </td>
                                        <td data-title="'Appointment Time'">
                                            <center>{{appointment.appointmentTime}}</center>
                                        </td>
                                        <td data-title="'Date of Booking'">
                                            <center>{{appointment.bookedDate| date:'dd/MM/yyyy'}}</center>
                                        </td>
                                        <td data-title="'Area'">
                                            <center>{{appointment.areaName}}</center>
                                        </td>
                                        <td data-title="'Topics to Discuss'">
                                            <center>{{appointment.topics}}</center>
                                        </td>
                                        <td data-title="'Language Selected'">
                                            <center>{{appointment.language}}</center>
                                        </td>
                                        <td data-title="'Translation Required'">
                                            <center>{{appointment.transalation==1?'Yes':'No'}}</center>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="staffShow===true || adminShow===true || customerShow===true">
        <div class="col-lg-12">
            <div class="text-center">
                <div class="" ng-class="{'col-lg-12' :staffShow===true, 'col-lg-5' :staffShow===false}">
                    <div id="darkLayer" class="darkClass" ng-show="dashboardAreaTopicsLoader"></div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3 class="stat-percen">Top 5 Area and Topics</h3>
                            <!-- This is example of local custom ibox tools -->
                            <div class="ibox-tools">
                                <!--<a ui-sref="lodgement.saved-forms"> <span class="label label-info">more...</span> </a>-->
                            </div>
                        </div>
                        <div class="ibox-content" style="text-align: right;">
                            <div>
                                <table ng-table="dashboardAppointmentAreaTable" class="table mytable table-hover no-margins">
                                    <tr ng-repeat="areas in $data">
                                        <td data-title="'No'">
                                            <center>{{$index+1}}</center>
                                        </td>
                                        <td data-title="'Area'">
                                            <center>{{areas.name}}</center>
                                        </td>
                                        <td data-title="'Topics'">
                                            <center><span ng-repeat="topic in areas.appointmentAreaTopics">{{topic.topicName}}<span ng-show="$index!==areas.appointmentAreaTopics.length-1">, </span></span>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7" ng-show="adminShow===true">
                    <div id="darkLayer" class="darkClass" ng-show="dashboardEmployeesLoader"></div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>Top 5 Employees</h3>
                            <!-- This is example of local custom ibox tools -->
                            <div class="ibox-tools">
                                <!--<a ui-sref="lodgement.lodgement-history"><span class="label label-info">more...</span></a>-->
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table ng-table="dashboardEmployeeTable" class="table table-hover no-margins">
                                <tr ng-repeat="employee in $data">
                                    <td data-title="'No'">
                                        <center>{{$index+1}}</center>
                                    </td>
                                    <td data-title="'Employee Id'" sortable="'empid'">
                                        {{employee.empid}}
                                    </td>
                                    <td data-title="'Name'" sortable="'firstname'">
                                        {{employee.firstname}} {{employee.lastname}}
                                    </td>
                                    <td data-title="'Language Known'">
                                        <span ng-repeat="language in getJsonObject(employee.languages)">{{language.languageName}}<span ng-show="$index!==getJsonObject(employee.languages).length-1">, </span></span>
                                    </td>
                                    <td data-title="'Area of expertise'">
                                        <span ng-repeat="areaExpert in getJsonObject(employee.areaExpert)">{{areaExpert.name}}<span ng-show="$index!==getJsonObject(employee.areaExpert).length-1">, </span></span>
                                    </td>
                                    <td data-title="'Mobile'">
                                        {{employee.mobile}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
