<style type="text/css">
body {
    background-color: white !important;
}

a,
a:active,
a:focus {
    outline: none;
}
</style>
<div class="navbar-wrapper" id="page-top">
    <nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="assets/img/SmartBankLogo.png" class="navbar-brand" style="width: 145px; padding: 0px; margin-top: 8px;" />
            </div>
            <div id="navbar" style="background-color: white;" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{'active':pageScroll==='#page-top', '':pageScroll!=='#page-top'}"><a class="page-scroll" style="background-color: white;" ng-click="gotoAnchor('#page-top')" href="javascript:void(0);">Home</a></li>
                    <li ng-class="{'active':pageScroll==='#features', '':pageScroll!=='#features'}"><a class="page-scroll" style="background-color: white;" ng-click="gotoAnchor('#features')" href="javascript:void(0);">Solutions</a></li>
                    <li ng-class="{'active':pageScroll==='#team', '':pageScroll!=='#team'}"><a class="page-scroll" style="background-color: white;" ng-click="gotoAnchor('#team')" href="javascript:void(0);">Customer Service</a></li>
                    <li ng-class="{'active':pageScroll==='#testimonials', '':pageScroll!=='#testimonials'}"><a class="page-scroll" style="background-color: white;" ng-click="gotoAnchor('#testimonials')" href="javascript:void(0);">Investor Relations</a></li>
                    <li ng-class="{'active':pageScroll==='#pricing', '':pageScroll!=='#pricing'}"><a class="page-scroll" style="background-color: white;" ng-click="gotoAnchor('#pricing')" href="javascript:void(0);">Services</a></li>
                    <li ng-class="{'active':pageScroll==='#contact', '':pageScroll!=='#contact'}"><a class="page-scroll" style="background-color: white;" ng-click="gotoAnchor('#contact')" href="javascript:void(0);">Contact</a></li>
                    <li ng-class="{'active':pageScroll==='#signIn', '':pageScroll!=='#signIn'}"><a class="page-scroll" style="background-color: white;" ng-click="gotoAnchor('#signIn')" href="javascript:void(0);">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
        <li data-target="#inSlider" data-slide-to="2"></li>
        <li data-target="#inSlider" data-slide-to="3"></li>
        <li data-target="#inSlider" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <!-- <h1>We craft<br/>
                        brands, web apps,<br/>
                        and user interfaces<br/>
                        we are IN+ studio</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    <p>
                        <a class="btn btn-lg btn-primary" href role="button">READ MORE</a>
                        <a class="caption-link" href role="button">Inspinia Theme</a>
                    </p>-->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                   <!--  <h1>We create meaningful <br/> interfaces that inspire.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                    <p><a class="btn btn-lg btn-primary" href role="button">Learn more</a></p> -->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back three"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back four"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back five"></div>
        </div>
    </div>
</div>
<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Banking</h2>
            <p>You’re unique. Which means the way you bank is, too. So why would we only offer one way of doing things? At Smart Bank, we customize banking solutions around our individual customers. For us, it’s about guiding you where you want to go and providing all the right financial solutions to get there.</p>
            <p><a class="navy-link" href role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Loans</h2>
            <p>Whether you need to update your home, purchase a new vehicle or consolidate your debt, Smart Bank has competitive and flexible loan options to help you achieve your goals. As your lender, we’ll provide a tailor-made financing solution and attentive customer service throughout the entire loan process. </p>
            <p><a class="navy-link" href role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Investments</h2>
            <p>Whether you're just getting started or already well on your way, Smart Investment Services can help you develop, refine, and implement an investment and/or retirement plan designed to help you achieve your objectives. Taking the time to understand and analyze your needs.</p>
            <p><a class="navy-link" href role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Insurance</h2>
            <p>Safeguarding you and your family is critical. Borden Insurance offers the guidance and products to keep you well protected for years to come. As part of the extended Smart Bank family, Borden offers a broad selection of insurance programs and companies, and customization of coverage.</p>
            <p><a class="navy-link" href role="button">Details &raquo;</a></p>
        </div>
    </div>
</section>
<section class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Smart Bank makes your life smart<br/> <span class="navy"> with convenient way to do banking from the comfort of your home or office</span> </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-mobile features-icon"></i>
                <h2>Mobile Banking</h2>
                <p>Bank on the go with our Mobile Banking services. Discover the quick, simple and convenient way to take command of your Bank Account, from your mobile phone. Our mobile banking services work with almost all types of handsets and help you access your ICICI Bank account securely, anytime, anywhere. A quick and easy registration is all you need to avail Mobile Banking services</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bar-chart features-icon"></i>
                <h2>Internet Banking</h2>
                <p>Explore the power of simpler and smarter banking. Bank online with over 250 services.Internet Banking is a convenient way to do banking from the comfort of your home or office. Avoid the queue or delays and try our simple and secure Internet Banking facility for an unmatched online banking experience.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="assets/img/banking.jpg" style="height: 500px;" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-envelope features-icon"></i>
                <h2>Pockets by Smart Bank</h2>
                <p>Pockets has so many amazing features in store – it allows you to book movie tickets, recharge your mobile as well as gift physical/e-vouchers to friends. And apart from helping you pay electricity, telephone and DTH bills, it aids you to keep a tab on shared expenses with the help of bill splitter. All this, with the comfort and peace of mind that this one’s a secure app from Smart Bank.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-google features-icon"></i>
                <h2>Mobile Money</h2>
                <p>Smart Bank presents "Mobile Money", an account on your mobile phone where your mobile number itself is your account number. Some of the key services you can avail through your Mobile Money account: Deposit Money, Prepaid Recharge, Transfer Funds, Pay Bills, Withdraw Cash, Pay Merchants.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Discover great feautres</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <h2>Individuality is a worthy investment.</h2>
            <p>You’re unique. Which means the way you bank is, too. So why would we only offer one way of doing things? At American Bank, we customize banking solutions around our individual customers. For us, it’s about guiding you where you want to go and providing all the right financial solutions to get there – from checking accounts to comprehensive retirement planning. We couple the best products with the highest level of customer support. So, what do you want out of your bank? We’re ready to create a financial solution just for you.</p>
            <a href class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="assets/img/savings.jpg" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section>
<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Services</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="assets/img/Accounts.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Open an Account</h4>
                    <p>Our Current account offers a comprehensive range of features to optimize the way you do business.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="assets/img/capital.jpg" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">Funded Products</h4>
                    <p>We at Smart Bank offer structured & customized banking solutions to help maximize your business potential.</p>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="assets/img/services.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Transaction Banking</h4>
                    <p>We extend our financial expertise to offer well-integrated & tailor made solutions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            </div>
        </div>
    </div>
</section>
<section id="testimonials" class="navy-section testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                    Smart Bank gains you more
                </h1>
                <div class="testimonials-text">
                    <i>“Smart Bank is a bank agnostic. Anybody can make a payment from any bank to any bank, 24x7. You don’t have to be a Smart Bank customer to make and receive payments,” says Nidhish Krishnan, CTO, Smart Bank and Group Companies. “People already spend time on Facebook, so if they need to make a small payment they do not need to logout of Facebook and then log into net banking or mobile banking to make payment.”</i>
                </div>
                <small>
                 
                </small>
            </div>
        </div>
    </div>
</section>
<section id="pricing" class="pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>More and more services</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2>Open a Savings Account </h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>Enjoy worry-free banking and earn more on your Savings Account balance.Advantage of up to 6%* interest p.a. Unique features for unique needs</p>
            </div>
            <div class="col-lg-5 features-text">
                <h2>Looking for a Credit Card </h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>Choose from the best of Smart Bank Credit Cards that compliment your lifestyle. Provides Exclusive privileges and Incredible offers</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <h2>Apply for a Personal loan</h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>Fulfill your dreams for you and your family with just one click. Interest rate starts @13%*. No security / guarantor* required *Conditions apply</p>
            </div>
            <div class="col-lg-5 features-text">
                <h2>Open an NRI Account</h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>Get various types of Savings/Current NRE - NRE and NRO accounts to manage your liquidity requirements.Low average quarterly balance. Premium Banking with Kotak NRI Privy League program.</p>
            </div>
        </div>
    </div>
</section>
<section id="signIn" class="container services">
    <div class="gray-bg">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div id="darkLayer" class="darkClass" ng-show="loginLoader"></div>
                    <div class="ibox-content gray-bg">
                        <div class="row">
                            <center>
                                <div class="col-sm-5" style="left: 340px;">
                                    <h3 class="m-t-none m-b">Sign in</h3>
                                    <p>Sign in today for more expirience.</p>
                                    <form role="form" novalidate="novalidate" ng-submit="login(user)" autocomplete="off">
                                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
                                        <div class="form-group">
                                            <label> Username</label>
                                            <input type="text" ng-model="user.username" class="form-control" placeholder="Enter username" required="required" required-err-type="loginUserNameRequired">
                                        </div>
                                        <div class="form-group">
                                            <label>Password </label><br> (
                                            <a tabindex="-1" href="javascript:void(0);" ng-click="forgotPassword()">
                                                <small>Forgot password?</small>
                                            </a>)
                                            <input type="password" ng-model="user.password" class="form-control" placeholder="Enter Password" required="required" required-err-type="loginPasswordRequired">
                                        </div>
                                        <div>
                                            <button type="submit" style="width: 300px;" class="btn btn-sm btn-primary"><strong>Log in</strong></button>
                                        </div>
                                        <br/>
                                        <p class="text-muted text-center">
                                            <small>Do not have an account?</small>
                                        </p>
                                    </form>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
            </div>
        </div>
    </div>
</section>
<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-7 col-lg-offset-7">
                <address>
                    <strong><span class="navy">Smart Bank, Sholinganallur.</span></strong>
                    <br/> 795 Folsom Ave, Suite 600
                    <br/> Chennai
                    <br/>
                    <abbr title="Phone">P:</abbr> 0898827839
                </address>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:smartbanking.codechef@gmail.com" class="btn btn-primary">Send us mail</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 Smart Bank</strong>
                    <br/> Copyright Smart Bank. All rights reserved</p>
            </div>
        </div>
    </div>
</section>
